body{
    background-color: antiquewhite;
}

.navbar {
    background-color: #7d6d6d;
    color: azure;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}  

.nav-links {
    display: flex;

}

.navbar a{
    color: white;
    padding: 10px;
}


.header h1{
    color: chocolate;
    text-align: center;
}

.header h2{
    color: rgb(134, 98, 73);
    text-align: center;
}

 .market {
    display: flex;
    justify-content: center;
 }

 .f1 {
    border: 2px solid ; /* Adds a solid  border */
    padding: 20px;             /* Adds padding inside the form */
    border-radius: 8px;        /* Rounds the corners */
    max-width: 400px;          /* Sets a maximum width */
 }

 /* Style the submit button */
input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text color */
    padding: 12px 20px;        /* Padding for the button */
    border: none;              /* Removes the border */
    border-radius: 4px;        /* Rounds the corners */
    font-size: 16px;           /* Font size */
    width: 100%;               /* Full width on smaller screens */
  }

  /* Responsive button styling for larger screens */
@media (min-width: 600px) {
    input[type="submit"] {
      width: auto;              /* Auto width for larger screens */
      padding: 12px 30px;       /* Increase padding for larger screens */
    }
  }

 